 /* Reset CSS3 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://raw.githubusercontent.com/gguilherme42/Imersao_CSS/master/imagens/fundo.jpg");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    
}

@media (min-width: 360px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    body {
        font-size: 16px;
    }
}

header {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    header {
        height: 75vh;
    }
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
 list-style-type: none;   
}

.menu a {
    display: block;
    padding: 10px 20px;
}

.menu a:hover {
    background-color: teal;
    color: white;
    transition: background-color 0.7s, color 0.5s;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}

.Portifolio h2 {
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.Portifolio .grid {
    display: grid;
    gap: 2em;
    justify-content: center;
}

@media (min-width: 760px) {
    .Portifolio .grid {
        grid-template-columns: repeat(2, 240px);
    }
}

.Portifolio figure{
    text-align: center;
}

@media (min-width: 990px) {
    .Portifolio .grid {
        grid-template-columns: repeat(3, 240px);
    }
}

@media (min-width: 1200px) {
    .Portifolio .grid {
        grid-template-columns: repeat(4, 240px);
    }
}

.img-portifolio {
    height: 180px;
    width: 180PX;
    object-fit: cover;
    object-position: left bottom;
    
}

.img-portifolio:hover {
    transform: scale(2);
    transition: transform 1s;
}